@import "tailwindcss";

@theme {
  --color-primary: #ff4742;
  --color-primaryB: #FFE0E0;
  --color-secondary: #FFB238;
  --color-secondaryB: #FFE5BD;
  --color-grey: #6B7D7D;
  --color-lightgrey: #f4f4f4;
  --color-black: #000;
  --color-white: #fff;
}

.clip-slant-bottom {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.clip-down-point {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.clip-zig {
  clip-path: polygon(
  0 20%, 10% 15%, 20% 25%, 30% 15%, 
  40% 25%, 50% 15%, 60% 25%, 70% 15%, 
  80% 25%, 90% 15%, 100% 20%, 100% 100%, 0 100%
);
}